/* Our CSS file. */
.container, .content {
    width: 100%;
    }
    /* ----- Main Container ---------   */
    .Maincontainer{
        width: 100%;
        border-style: solid;
            
    }
    
    /* ----- header div 1 ---------   */
    
    .header{
        background-color: rgb(175, 97, 248);
        border-style: solid;
        margin: 2px; 
    }
    
    
    .headerUp{
        width: 40%;
        display: inline-block; 
        margin-left: 45px; 
    }
    .imageDiv{
        float: left;
    }
    .form{
        margin-left: 465px;
        margin-bottom: 10px;
    }
    
    .logo{
        width: 45px;
        margin-top: 5px;
        margin-bottom: 2px;
        margin-right: 2px;
    }
    
    
/* ----- header div 2 ---------   */
.headerList{
        background-color: rgb(237, 245, 247);
        border-style: solid;
        margin: 2px;
    }  
.headerhref li{
    list-style-type: none;
    display: inline;
    margin-left: 210px;
}
.headerhref li a{
    text-decoration: none;
    color: rgb(28, 3, 58);
}

/* ----- Second div section ---------   */

.secondDiv{
    display: inline-flex;
    margin: 10px;
    border:solid;
}
.SecondList li{
    list-style-type: none;
    text-decoration:  none;
}

.thridList{
    list-style-type: none;
}
li{
    text-decoration-line: none;
}
/* -----6 Image Section ---------   */
.container, .content{
    width: 100%;
}


.section2 img{
    width: 100px;
}

.section1{
    margin-right: 220px;
    padding-right: 30px;
    background-color: royalblue;
}
.section2{
    padding-right: 25px;
    margin-right: 210px;
}
.section3{
    
    padding-right: 25px;
    background-color: royalblue;
    margin-right: 205px;
    float: right;
}
.section1 ul{
    color:rgb(1, 1, 37);
    text-decoration:solid;
}